# OS/IDE
.vscode/
*.code-workspace
.ipynb_checkpoints/
__pycache__/
*.pyc
.venv/
env/
*.egg-info/

# local-only stuff
.env
*.local
dist/
build/
# ignore EOG intermediates not needed for this branch
results*/eog/*_processing_steps.csv
results*/eog/*_features.csv
results*/eog/*_waveforms.csv
results*/eog/*_similarity.csv
results*/eog/*_waveforms.png
